body{
  background-color: rgb(167, 72, 38);
  width: 1300px;
  height: 1440px;
}

#wholetableforSales {
  padding: 20px;
  margin-bottom: 1px;
  margin-top: -59px;
  margin-bottom: 194px;
  font-family: 'Syne Tactile', cursive;
}


td:not(.notthisROW) {
  padding: 5px;
  border: black solid 1px;
  background-color: lightcoral;
  color: wheat;
  text-align: center;
  padding: 2px;
}

th:not(.notthisROW) {
  padding: 5px;
  border: black solid 1px;
  background-color: lightcoral;
  color: wheat;
  text-align: center;
  padding: 2px;
  
}
td{
  background-color: lightcoral;
  color: wheat;
  text-align: center;
  padding: 2px;
  
}

.notthisROW{
  font-weight: bold;
}

header section {
  background-color: rgb(255, 174, 201);
  font-family: 'Volkhov', serif;
  color: white;
}
header section h1{
  font-size: 71px;
  text-align: center;
  line-height: 69px;
}

header section img{
  margin-left: 267px;
}

.pageNav{
  border: rgb(203, 151, 140)solid 10px;
  display: block ruby;
  height: 74px;
  font-size: 71px;

}
 header nav ol li{
   margin-left: 132px;
   font-family: 'Turret Road', cursive;
 }

 .salePage{
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: rgb(203, 151, 140);
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: rgb(203, 151, 140);
  padding-left: 110px;
  margin-left: 0px;
  width: 149.883px;
  padding-right: 110px;
}

.contactPage{
  margin-left: -143px;
  font-size: 62px;
}

#totalCell{
  display: table-caption;
}

#form{
  display: table-caption;
  margin-left: 582px;
}

#firstParagrpah{
  background-color: rgb(216, 169, 104);
  border: 20px ridge rgb(203, 151, 140);
  margin-top: 75px;
  text-align: center;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  padding: 25px;
  margin-bottom: 30px;
}

#chinook{
  margin-bottom: 0px;
  margin-left: 818px;
  margin-top: -250px;
}

#familyfishtext{
  background-color: rgb(216, 169, 104);
  border: dotted 13px rgb(203, 151, 140);
  max-width: 608px;
  font-family: 'Indie Flower', cursive;
  color: white;
}

#storeheaders{
  background-color: black;
  border: solid coral 4px;
  max-width: 124px;
  color: red;
  float: left;
}

#paragraphbyheaders{
  border: hidden 10px;
  background-color: lemonchiffon;
  text-align: left;
  max-width: 375px;
}

footer{
  background-color: rgb(255, 141, 201);
  padding-bottom: 4px;
  text-align: right;
}


fieldset{
  border: solid pink 4px;
  color: antiquewhite;
  background-color: indianred;
  margin-top: 30px;
  font-family: 'Syne Tactile', cursive;
}

button{
  color: red;
  background: aqua;
}

table {
  margin-left: 233px;
  margin-top: -59px
  
}

#fishcookie{
  margin-left: 528px;
  margin-top: 21px;
}
#fishschool{
  margin-top: 51px;
}

#cutterarticle{
  max-width: 100px;
  max-height: 100px;
  margin-right: 1200px;
  margin-bottom: -86px;
}